In [1]:
import numpy as np
import pandas as pd
import pickle
import sklearn

In [2]:
sklearn.__version__

'1.0.2'

In [8]:
df=pd.read_csv(r"C:\Users\cyber\OneDrive\Desktop\autos_preprocessed.csv")
df.head()

,Unnamed: 0,seller,offerType,price,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,1,privat,Angebot,18300.0,coupe,2011.0,manual,190.0,NaN,125000.0,5.0,diesel,audi,Yes
1,2,privat,Angebot,9800.0,suv,2004.0,automatic,163.0,grand,125000.0,8.0,diesel,jeep,not-declared
2,3,privat,Angebot,1500.0,small,2001.0,manual,75.0,golf,150000.0,6.0,petrol,volkswagen,No
3,4,privat,Angebot,3600.0,small,2008.0,manual,69.0,fabia,90000.0,7.0,diesel,skoda,No
4,5,privat,Angebot,650.0,limousine,1995.0,manual,102.0,3er,150000.0,10.0,petrol,bmw,Yes

In [9]:
import datetime
current=datetime.datetime.now().year
currentm=datetime.datetime.now().month

In [10]:
df['Age']=(current-df['yearOfRegistration'])*12+(currentm-df['monthOfRegistration'])

In [11]:
df.head()

,Unnamed: 0,seller,offerType,price,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,Age
0,1,privat,Angebot,18300.0,coupe,2011.0,manual,190.0,NaN,125000.0,5.0,diesel,audi,Yes,138.0
1,2,privat,Angebot,9800.0,suv,2004.0,automatic,163.0,grand,125000.0,8.0,diesel,jeep,not-declared,219.0
2,3,privat,Angebot,1500.0,small,2001.0,manual,75.0,golf,150000.0,6.0,petrol,volkswagen,No,257.0
3,4,privat,Angebot,3600.0,small,2008.0,manual,69.0,fabia,90000.0,7.0,diesel,skoda,No,172.0
4,5,privat,Angebot,650.0,limousine,1995.0,manual,102.0,3er,150000.0,10.0,petrol,bmw,Yes,325.0

In [12]:
df.drop(['Unnamed: 0','yearOfRegistration','monthOfRegistration'],axis=1,inplace=True)

In [13]:
df.head()

,seller,offerType,price,vehicleType,gearbox,powerPS,model,kilometer,fuelType,brand,notRepairedDamage,Age
0,privat,Angebot,18300.0,coupe,manual,190.0,NaN,125000.0,diesel,audi,Yes,138.0
1,privat,Angebot,9800.0,suv,automatic,163.0,grand,125000.0,diesel,jeep,not-declared,219.0
2,privat,Angebot,1500.0,small,manual,75.0,golf,150000.0,petrol,volkswagen,No,257.0
3,privat,Angebot,3600.0,small,manual,69.0,fabia,90000.0,diesel,skoda,No,172.0
4,privat,Angebot,650.0,limousine,manual,102.0,3er,150000.0,petrol,bmw,Yes,325.0

In [16]:
y=df['price']
X=df.drop('price',axis=1)

In [17]:
X.isnull().sum()

seller                   0
offerType                0
vehicleType              0
gearbox                  0
powerPS                  0
model                10387
kilometer                0
fuelType                 0
brand                    0
notRepairedDamage        0
Age                      0
dtype: int64

In [18]:
X.drop(['model'],axis=1,inplace=True)

In [19]:
y.isnull().sum()

0

In [20]:
from sklearn.preprocessing import OrdinalEncoder

ord_enc = OrdinalEncoder()
X['seller'] = ord_enc.fit_transform(X[['seller']])
X['offerType'] = ord_enc.fit_transform(X[['offerType']])
X['vehicleType'] = ord_enc.fit_transform(X[['vehicleType']])
X['notRepairedDamage'] = ord_enc.fit_transform(X[['notRepairedDamage']])
X['gearbox'] = ord_enc.fit_transform(X[['gearbox']])
X['fuelType'] = ord_enc.fit_transform(X[['fuelType']])
X['brand'] = ord_enc.fit_transform(X[['brand']])

In [21]:
X.head()

,seller,offerType,vehicleType,gearbox,powerPS,kilometer,fuelType,brand,notRepairedDamage,Age
0,1.0,0.0,3.0,1.0,190.0,125000.0,1.0,1.0,1.0,138.0
1,1.0,0.0,8.0,0.0,163.0,125000.0,1.0,14.0,2.0,219.0
2,1.0,0.0,7.0,1.0,75.0,150000.0,7.0,38.0,0.0,257.0
3,1.0,0.0,7.0,1.0,69.0,90000.0,1.0,31.0,0.0,172.0
4,1.0,0.0,4.0,1.0,102.0,150000.0,7.0,2.0,1.0,325.0

In [22]:
y.head()

0    18300.0
1     9800.0
2     1500.0
3     3600.0
4      650.0
Name: price, dtype: float64

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=44)

In [24]:
from sklearn.tree import DecisionTreeRegressor

Decision = DecisionTreeRegressor(random_state=44)
Decision.fit(X_train,y_train)

DecisionTreeRegressor(random_state=44)

In [35]:
from sklearn.metrics import mean_squared_error

y_mine2 = Decision.predict(X_test)
err1 = mean_squared_error(y_test,y_mine2)**(0.5)
print(mean_squared_error(y_test,y_mine2)**(0.5))

4136.248170145003

In [ ]:
pickle.dump(Decision, open('/content/drive/MyDrive/Colab Notebooks/DecisionTree.pkl', 'wb'))

In [34]:
from sklearn.ensemble import RandomForestRegressor

Forest = RandomForestRegressor(n_estimators = 100, random_state = 0)
Forest.fit(X_train,y_train)

RandomForestRegressor(random_state=0)

In [36]:
y_mine = Forest.predict(X_test)
err2 = mean_squared_error(y_test,y_mine)**(0.5)
print(mean_squared_error(y_test,y_mine)**(0.5))

3167.32595196744

In [ ]:
pickle.dump(Forest, open('/content/drive/MyDrive/Colab Notebooks/RandomForest1.pkl', 'wb'))

In [37]:
from sklearn.ensemble import GradientBoostingRegressor

xg_reg = GradientBoostingRegressor(learning_rate=0.1,max_depth=15,random_state=0)
xg_reg.fit(X_train, y_train)

GradientBoostingRegressor(max_depth=15, random_state=0)

In [ ]:
pickle.dump(xg_reg, open('/content/drive/MyDrive/Colab Notebooks/XGBoost.pkl', 'wb'))

In [38]:
y_mine1 = xg_reg.predict(X_test)
err3=mean_squared_error(y_test,y_mine1)**(0.5)
print(mean_squared_error(y_test,y_mine1)**(0.5))

3333.4881251787833

In [39]:
toterr=(err1+err2+err3)/3
print(toterr)

3545.6874157637417